:root {
  --bs-link-hover-color: #b99e7b;
}

.main-logo {
  width: 200px;
  height: 60px;
  display: block;
  overflow: hidden;
  border: 1px solid;
  padding: 5px;
}

.main-logo a {
  display: flex;
  color: inherit;
  text-indent: -9999px;
  background: url(../images/logo.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

#cogc-nav .navbar-nav{
  --bs-nav-link-color: var(--bs-body-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-navbar-active-color: var(--bs-link-hover-color) !important;
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  --bs-nav-link-font-size: 1rem;
  --bs-nav-link-font-weight: 400;
  --bs-navbar-nav-link-padding-x: 1.5rem;
  font-family: "Abel", "Arial";
  text-transform: uppercase;
}
.cogc-card {
  --bs-card-title-color: #333;
}

.card .card-badge {
  position:absolute;
  top:0;
  margin: 10px;
  padding-block: 8px;
}

.archive-image {
  height: 150px;
  object-fit: cover;
  object-position: bottom;
}

.pe-pointer{
  cursor: pointer;
}
.card-body img {
  max-width: 100%;
}

.html_content {
  font-family: Arial;
  font-size: 1em;
  line-height: normal;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

.cogc-p {
  text-align:Center;
  line-height:2.11267605633803;
  font-family:'Abel','Arial';
  font-size:1.214em;
}


.cogc-card-title {
  font-family:'Abel','Arial';
  font-size:1.429em;
}

.cogc-card-img {
  max-width:100%;
  aspect-ratio: 17 / 10;
}
.cogc-card .card-title {
  margin-block-end: 0.8em;
  line-height: 1.1;
  font-family: 'Roboto','Arial';
  font-size: 1.429em;
  font-weight: normal;
}

.btn-default {
  background-color: #b99e7b;
  background: rgba(185, 158, 123, 1);
  border: solid #cccccc;
  border: solid rgba(204, 204, 204, 1);
  color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #cccccc;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #cccccc;
  border-width: 0px 0px 0px 0px;
  padding: 10px 20px;
  /* border-radius: 0px; */
}

.navbar-right {
  margin-left: auto !important;
}

.wo-decoration-link {
  color: #000;
  text-decoration: none;
}
.cogc-first-bg {
  background: url(../images/HomeDesktopheader.jpg);
  background-color: #0000007e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: Center Center;
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #e7e7e7;
  border: solid rgba(231, 231, 231, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin: 0px;
}

.cogc-first-bg-1
{
  background: url(../images/HomeDesktopheader1.jpg);
  background-color: #ebe6d8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: Center bottom;
  height: 500px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 370px;
  /* align-items: center; */
}

.cogc-first-bg-1-title a{
  color: #a58a5d;
  text-decoration: none;
}

.cogc-first-inner {
  height: 670px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cogc-first-black-inner {
  background-color: #000000;
  background: rgba(0, 0, 0, 0.7);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #000000;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  right: auto;
  /* top: 210px; */
  width: 575px;
  min-height: 250px;
  display: block;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  box-sizing: border-box;
  word-wrap: break-word;
  padding-inline: 30px;
  color: #fff;  
}

.cogc-first-title {
  font-family: 'Roboto';
  font-weight:600;
  font-size: 2rem;
  line-height: 1.5;
}

.cogc-first-body {
  font-family: 'Roboto';
  font-size: 1em;
  line-height: 1.97183098591549;
}

.cogc-second-bg {
  background-color: #f3f3f3;
  background: rgba(243, 243, 243, 1);
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 2em;
  text-decoration: none;
  padding: 0.5em;
  display: none;
  z-index: 99;
}

[dir="rtl"] .back-to-top {
  right: auto;
  left: 0;
}

.simple-text {
  font-family: 'Roboto';
  font-size: 1.286em;
  line-height:2.11267605633803;
}

.justify-align {
  text-align:justify;
  text-align-last: center;
}

.justify-align-start {
  text-align:justify;
  text-align-last: auto;
}

@media only screen and (min-width: 1468px) {
  .cogc-first-bg-1 {
    background-size: auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 1400px) {
  .container-xxl {
    padding: 0px;
    width: 100%;
  }
}


@media only screen and (max-width: 960px) {
  .cogc-first-bg-1 {
    min-height: 430px;
    max-height: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 780px) {
  .cogc-first-bg-1 {
    min-height: 400px;
    max-height: 500px;
    height: auto;
  }
}


@media only screen and (max-width: 600px) {
  .cogc-first-bg-1 {
    min-height: 367px;
    max-height: 500px;
    height: auto;
    padding-bottom: 370;
  }
  .cogc-first-black-inner {
    padding-inline: 15px;
    margin-inline: 15px;
  }
  .simple-text {
    font-size: 1em;
  }
}

@media only screen and (max-width: 460px) {
  .cogc-first-bg-1 {
    padding-bottom: 200px;
  }
}

.ttr_footer_facebook {
  background: url(../images/footerfacebook.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  background-size: 100% 100%;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.ttr_footer_twitter {
  background: url(../images/footertwitter.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  background-size: 100% 100%;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.ttr_footer_googleplus {
  background: url(../images/footergoogleplus.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  background-size: 100% 100%;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

footer {
  position: relative;
  background-color: #1b1e23;
  background: rgba(27, 30, 35, 1);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #dcdcdc;
  border: solid rgba(220, 220, 220, 1);
  border-width: 1px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#prev span {
  background-image: url(../images/Leftbutton00.png);
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -999px;
  font-size: 0px;
}
#next span {
  background-image: url(../images/Rightbutton00.png);
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -999px;
  font-size: 0px;
}
