:root {
  --bs-link-hover-color: #b99e7b;
}
#cogc-nav .navbar-nav{
  --bs-nav-link-color: var(--bs-body-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-navbar-active-color: var(--bs-link-hover-color) !important;
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  --bs-nav-link-font-size: 1rem;
  --bs-nav-link-font-weight: 400;
  --bs-navbar-nav-link-padding-x: 1.5rem;
  font-family: "Abel", "Arial";
  text-transform: uppercase;
}
.cogc-card {
  --bs-card-title-color: #333;
}

.card-body img {
  max-width: 100%;
}

.html_content {
  font-family: Arial;
  font-size: 1em;
  line-height: normal;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

.cogc-p {
  text-align:Center;
  line-height:2.11267605633803;
  font-family:'Abel','Arial';
  font-size:1.214em;
}


.cogc-card-title {
  font-family:'Abel','Arial';
  font-size:1.429em;
}

.cogc-card-img {
  max-width:100%;
  aspect-ratio: 17 / 10;
}
.cogc-card .card-title {
  margin-block-end: 0.8em;
  line-height: 1.1;
  font-family: 'Roboto','Arial';
  font-size: 1.429em;
  font-weight: normal;
}

.btn-default {
  background-color: #b99e7b;
  background: rgba(185, 158, 123, 1);
  border: solid #cccccc;
  border: solid rgba(204, 204, 204, 1);
  color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #cccccc;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #cccccc;
  border-width: 0px 0px 0px 0px;
  padding: 10px 20px;
  border-radius: 0px;
}

.navbar-right {
  margin-left: auto !important;
}

.cogc-first-bg {
  background: url(../images/HomeDesktopheader.jpg);
  background-color: #0000007e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: Center Center;
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #e7e7e7;
  border: solid rgba(231, 231, 231, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin: 0px;
}

.cogc-second-bg {
  background-color: #f3f3f3;
  background: rgba(243, 243, 243, 1);
}

#prev span {
  background-image: url(../images/Leftbutton.png);
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -999px;
  font-size: 0px;
}
#next span {
  background-image: url(../images/Rightbutton.png);
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -999px;
  font-size: 0px;
}

.required:first-child:after {
  color: red;
  content: "*";
  display: inline;
}
.has-error {
  margin-top: 4px;
}

.post_column .html_content ol,
.post_column .html_content ul {
  margin-left: 25px;
}
.post_column .html_content ol li,
.post_column .html_content ul li {
  padding-left: 5px !important;
  text-indent: 0 !important;
}

.postedon img {
  vertical-align: middle;
  margin: 0 2px;
}
#ttr_sidebar_left table {
  width: 100%;
}
#ttr_sidebar_right table {
  width: 100%;
}

.ttr_footer_bottom_footer_inner,
#ttr_footer_top_for_widgets {
  position: relative;
  margin: 0 auto;
}
#ttr_header_inner {
  height: 670px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ttr_menu.navbar {
  height: 85px;
  min-height: 85px;
  border-radius: 0px 0px 0px 0px;
  border: solid #e7e7e7;
  border: solid rgba(231, 231, 231, 1);
  border-width: 1px 0px 1px 0px;
  box-shadow: none;
}
#ttr_menu_inner_in {
  min-height: 87px;
  height: auto;
  /* text-align: right; */
  /* position: relative; */
  display: flex;
  margin: 0 auto;
  width: 100%;
}
#mobile_ttr_menu_inner_in {
  display: flex;
}

#mobile_ttr_menu_inner_in .navbar-header {
  margin-inline-start: auto;
}


.ttr_Home_html_column00 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  word-wrap: break-word;
}
.ttr_Home_html_column00,
.ttr_Home_html_column00 p,
.ttr_Home_html_column00 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_row1 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 225px;
  padding-right: 225px;
  padding-bottom: 40px;
}
.ttr_Home_html_column10 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  word-wrap: break-word;
}

.simple-text {
  font-family: 'Roboto';
  font-size: 1.286em;
  line-height:2.11267605633803;
}

.justify-align {
  text-align:justify;
  text-align-last: center;
}

.ttr_Home_html_column10,
.ttr_Home_html_column10 p,
.ttr_Home_html_column10 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_row2 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 80px;
}
.ttr_Home_html_column20 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.ttr_Home_html_column20,
.ttr_Home_html_column20 p,
.ttr_Home_html_column20 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column21 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.ttr_Home_html_column21,
.ttr_Home_html_column21 p,
.ttr_Home_html_column21 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column22 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.ttr_Home_html_column22,
.ttr_Home_html_column22 p,
.ttr_Home_html_column22 .tt_link {
  font-size: 14px !important;
}

.ttr_Home_html_column30 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  word-wrap: break-word;
}
.ttr_Home_html_column30,
.ttr_Home_html_column30 p,
.ttr_Home_html_column30 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column31 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  word-wrap: break-word;
}
.ttr_Home_html_column31,
.ttr_Home_html_column31 p,
.ttr_Home_html_column31 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_row4 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #f3f3f3;
  background: rgba(243, 243, 243, 1);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 60px;
}
.ttr_Home_html_column40 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.ttr_Home_html_column40,
.ttr_Home_html_column40 p,
.ttr_Home_html_column40 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column41 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  word-wrap: break-word;
}
.ttr_Home_html_column41,
.ttr_Home_html_column41 p,
.ttr_Home_html_column41 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column42 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  word-wrap: break-word;
}
.ttr_Home_html_column42,
.ttr_Home_html_column42 p,
.ttr_Home_html_column42 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column43 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  word-wrap: break-word;
}
.ttr_Home_html_column43,
.ttr_Home_html_column43 p,
.ttr_Home_html_column43 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_row5 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 100px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
}
.ttr_Home_html_column50 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  word-wrap: break-word;
}
.ttr_Home_html_column50,
.ttr_Home_html_column50 p,
.ttr_Home_html_column50 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_row6 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 80px;
}
.ttr_Home_html_column60 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.ttr_Home_html_column60,
.ttr_Home_html_column60 p,
.ttr_Home_html_column60 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column61 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.ttr_Home_html_column61,
.ttr_Home_html_column61 p,
.ttr_Home_html_column61 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column62 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.ttr_Home_html_column62,
.ttr_Home_html_column62 p,
.ttr_Home_html_column62 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_row7 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #f3f3f3;
  background: rgba(243, 243, 243, 1);
  background-clip: padding-box;
  padding-top: 80px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
}
.ttr_Home_html_column70 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  word-wrap: break-word;
}
.ttr_Home_html_column70,
.ttr_Home_html_column70 p,
.ttr_Home_html_column70 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_row8 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #f3f3f3;
  background: rgba(243, 243, 243, 1);
  background-clip: padding-box;
  padding-top: 20px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 80px;
}
.ttr_Home_html_column80 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  word-wrap: break-word;
}
.ttr_Home_html_column80,
.ttr_Home_html_column80 p,
.ttr_Home_html_column80 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column81 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  word-wrap: break-word;
}
.ttr_Home_html_column81,
.ttr_Home_html_column81 p,
.ttr_Home_html_column81 .tt_link {
  font-size: 14px !important;
}
.ttr_Home_html_column82 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  word-wrap: break-word;
}
.ttr_Home_html_column82,
.ttr_Home_html_column82 p,
.ttr_Home_html_column82 .tt_link {
  font-size: 14px !important;
}
.ttr_footerHomehtml_column00,
.ttr_footerHomehtml_column01,
.ttr_footerHomehtml_column02,
.ttr_footerHomehtml_column03 {
  background: transparent;
  word-wrap: break-word;
  font-size: 14px !important;
}
.ttr_footerHome_html_column00,
.ttr_footerHome_html_column01,
.ttr_footerHome_html_column02,
.ttr_footerHome_html_column03 {
  font-size: 14px !important;
}
.ttr_headershape01 {
  background-color: #000000;
  background: rgba(0, 0, 0, 0.7);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #000000;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  right: auto;
  /* top: 210px; */
  width: 575px;
  min-height: 250px;
  display: block;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  box-sizing: border-box;
  word-wrap: break-word;
}
.ttr_headershape01,
.ttr_headershape01 p,
.ttr_headershape01 .tt_link {
  font-size: 14px !important;
}

.main-logo {
  width: 200px;
  height: 50px;
  display: block;
  background: url(../images/logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 1px solid;
}

.main-logo a {
  display: flex;
  color: inherit;
  text-indent: -9999px;
}

.ttr_title_position {
  top: 0px;
  position: absolute;
  left: 0%;
  right: auto;
  display: block;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.ttr_title_position {
  display: none;
}

.ttr_slogan_position {
  top: 0px;
  position: absolute;
  left: 0%;
  right: auto;
  position: absolute;
  display: block;
  overflow: hidden;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.ttr_slogan_position {
  display: none;
}
.ttr_slogan_style {
  font-size: 16px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #777777;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  line-height: normal;
  padding: 0;
  background: none;
}
.ttr_footer_facebook {
  background: url(../images/footerfacebook.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  background-size: 100% 100%;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.ttr_footer_twitter {
  background: url(../images/footertwitter.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  background-size: 100% 100%;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.ttr_footer_googleplus {
  background: url(../images/footergoogleplus.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  background-size: 100% 100%;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

footer {
  position: relative;
  background-color: #1b1e23;
  background: rgba(27, 30, 35, 1);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #dcdcdc;
  border: solid rgba(220, 220, 220, 1);
  border-width: 1px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.ttr_block {
  overflow: hidden;
  border-radius: 0px 0px 0px 0px;
  border: solid #d3d3d3;
  border: solid rgba(211, 211, 211, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  margin-top: 9px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 9px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.ttr_block_header {
  border-radius: 0px 0px 0px 0px;
  border: solid #d3d3d3;
  border: solid rgba(211, 211, 211, 1);
  border-width: 0px 0px 1px 0px;
  box-shadow: none;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  min-height: 30px;
  box-sizing: content-box;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.ttr_block_content,
.ttr_block_content p {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #d3d3d3;
  border: solid rgba(211, 211, 211, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #333333;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.ttr_block_content,
.ttr_block_content p {
  font-size: 14px !important;
}
.ttr_banner_header_inner_above0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.headerabovecolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.headerabovecolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.headerabovecolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.headerabovecolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_banner_header_inner_below0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.headerbelowcolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.headerbelowcolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.headerbelowcolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.headerbelowcolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_banner_menu_inner_above0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.menuabovecolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.menuabovecolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.menuabovecolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.menuabovecolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_banner_menu_inner_below0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.menubelowcolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.menubelowcolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.menubelowcolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.menubelowcolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_banner_slideshow_inner_above0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.slideshowabovecolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.slideshowabovecolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.slideshowabovecolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.slideshowabovecolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_banner_slideshow_inner_below0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.slideshowbelowcolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.slideshowbelowcolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.slideshowbelowcolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.slideshowbelowcolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.contenttopcolumn0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.topcolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.topcolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.topcolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.topcolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.contentbottomcolumn0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.bottomcolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.bottomcolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.bottomcolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.bottomcolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_banner_header {
  margin: 0 auto;
}
.ttr_banner_menu {
}
.ttr_banner_slideshow {
}
.html_content a:hover,
.html_content a:focus {
  text-decoration: none;
}
a:hover.separator,
.login_link a {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #428bca;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.login_link a:visited {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #92bce0;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.login_link a:hover {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #245682;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.ttr_footer-widget-area_inner_above0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.footerabovecolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.footerabovecolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.footerabovecolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.footerabovecolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_footer-widget-area_inner_below0 {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.footerbelowcolumn1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.footerbelowcolumn2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.footerbelowcolumn3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.footerbelowcolumn4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
#ttr_content_margin {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid #000000;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  box-sizing: border-box;
}
#ttr_content {
  float: left;
  width: 100%;
  clear: none;
}
.ttr_comments {
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  position: relative;
  display: table;
}
.ttr_comment_author {
  margin-right: 12px;
  display: table-cell;
  float: left;
  vertical-align: middle;
}
.ttr_comment_author img {
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
.ttr_comment_text {
  overflow: hidden;
}
.ttr_comment_author_right {
  display: none;
}
#ttr_content .ttr_comment_text p {
  font-size: 15px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  line-height: normal;
  margin-left: 5px;
}
#ttr_content .ttr_comments .ttr_author_name,
#ttr_content .ttr_comments .ttr_author_name:hover,
#ttr_content .ttr_comments .url {
  font-size: 16px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
#ttr_content .ttr_comments .ttr_comment_date,
#ttr_content .ttr_comments .ttr_comment_date:hover {
  font-size: 15px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
#ttr_content .ttr_comment_reply_edit a,
#ttr_content .ttr_comment_reply_edit a:hover {
  font-size: 17px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.ttr_post_inner_box {
  border-radius: 2px 2px 2px 2px;
  border: solid #000000;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.ttr_post {
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #000000;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.ttr_post_title {
  font-size: 35px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-repeat: repeat;
  margin: 0;
}
#ttr_content blockquote p {
  font-size: 16px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #333333;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
}
#ttr_content .postedon a {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #428bca;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
#ttr_content .postedon a:hover {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #3071a9;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.ttr_post_title a {
  font-size: 35px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-color: transparent;
}
.ttr_post_title a:visited {
  font-size: 35px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-color: transparent;
}
.ttr_post_title a:hover {
  background-color: transparent;
  font-size: 35px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.ttr_article {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #5bc0de;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.postcontent,
.postcontent p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: none;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
}
#ttr_content .postcontent {
  background-color: transparent;
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border-radius: 0px 0px 0px 0px;
  border: solid #000000;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}
table {
  border-collapse: separate !important;
  border-spacing: 2px;
}
.badge {
  font-size: 14px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  background-color: #000000;
  background: rgba(0, 0, 0, 1);
  background-clip: padding-box;
}
.badge:hover {
  font-size: 14px;
  font-family: "Abel", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
hr {
  border-width: 2px 0px 0px 0px;
  border-color: #000000;
  border-style: Solid;
}
.label {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.label:hover {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
}
.label-default {
  background-color: #777777;
  background: rgba(119, 119, 119, 1);
  background-clip: padding-box;
}
.label-primary {
  background-color: #428bca;
  background: rgba(66, 139, 202, 1);
  background-clip: padding-box;
}
.label-success {
  background-color: #5cb85c;
  background: rgba(92, 184, 92, 1);
  background-clip: padding-box;
}
.label-info {
  background-color: #5bc0de;
  background: rgba(91, 192, 222, 1);
  background-clip: padding-box;
}
.label-warning {
  background-color: #f0ad4e;
  background: rgba(240, 173, 78, 1);
  background-clip: padding-box;
}
.label-danger {
  background-color: #d9534f;
  background: rgba(217, 83, 79, 1);
  background-clip: padding-box;
}
.label-default:hover {
  background-color: #777777;
  background: rgba(119, 119, 119, 1);
  background-clip: padding-box;
}
.label-primary:hover {
  background-color: #428bca;
  background: rgba(66, 139, 202, 1);
  background-clip: padding-box;
}
.label-success:hover {
  background-color: #5cb85c;
  background: rgba(92, 184, 92, 1);
  background-clip: padding-box;
}
.label-info:hover {
  background-color: #5bc0de;
  background: rgba(91, 192, 222, 1);
  background-clip: padding-box;
}
.label-warning:hover {
  background-color: #f0ad4e;
  background: rgba(240, 173, 78, 1);
  background-clip: padding-box;
}
.label-danger:hover {
  background-color: #d9534f;
  background: rgba(217, 83, 79, 1);
  background-clip: padding-box;
}
.alert {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
.alert-success {
  border-radius: 2px 2px 2px 2px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  background-color: #5cb85c;
  background: rgba(92, 184, 92, 1);
  background-clip: padding-box;
}
.alert-info {
  border-radius: 2px 2px 2px 2px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  background-color: #5bc0de;
  background: rgba(91, 192, 222, 1);
  background-clip: padding-box;
}
.alert-warning {
  border-radius: 2px 2px 2px 2px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  background-color: #f0ad4e;
  background: rgba(240, 173, 78, 1);
  background-clip: padding-box;
}
.alert-danger {
  border-radius: 2px 2px 2px 2px;
  border: solid transparent;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0px 0px 0px 0px;
  box-shadow: none;
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: none;
  text-align: left;
  text-decoration: none;
  background-color: #d9534f;
  background: rgba(217, 83, 79, 1);
  background-clip: padding-box;
}


#prev span {
  background-image: url(../images/Leftbutton00.png);
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -999px;
  font-size: 0px;
}
#next span {
  background-image: url(../images/Rightbutton00.png);
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -999px;
  font-size: 0px;
}



